<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/head :: head('لینک های مرتبط')">
</head>
<body>
<div th:insert="fragments/th1">
    <h1>Link Page</h1>
    <h2>No Any things for you</h2>
    <a href="profile">user profile</a>
    <a href="https://google.com">google</a>
    <a href="https://spring.io">spring</a>
    <a href="https://github.com">github</a>
</div>
<script th:replace="fragments/script"></script>
</body>
</html>